@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  src: url("Vazirmatn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 700;
  src: url("Vazirmatn-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 900;
  src: url("Vazirmatn-Black.woff2") format("woff2");
}


@font-face {
  font-family: "lalezar";
  font-style: normal;
  font-weight: 900;
  src: url("Lalezar-Regular.ttf") format("woff2");
}