@import url("../public/fonts/font.css");

@import "tailwindcss";

.btn {
  @apply flex justify-center items-center p-3 text-nowrap rounded-xl text-sm md:text-base cursor-pointer;
}

.contain {
  @apply px-[120px];
}

.li--style {
  @apply hover:text-blue-500 cursor-pointer hover:border-b-2 border-blue-500 text-xs md:text-lg xl:text-xl
}

.tag--style {
  @apply text-[15px] sm:text-[16px] md:text-[17px] lg:text-[18px]
}

.input--style {
  @apply bg-gray-50 rounded-xl focus:shadow-md focus:ring-1 focus:ring-blue-500 focus:outline-none focus:bg-white block w-full p-3
}

.mark {
  @apply rounded-br-2xl rounded-tl-2xl border-b-2 border-t-2 border-blue-500
}

.btn--primary {
  @apply bg-blue-500 hover:bg-blue-600 text-white
}

.link--style {
  @apply text-blue-600 hover:text-blue-700 hover:border-b border-r-blue-600 cursor-pointer text-balance
}

.badge--style {
  @apply xl:p-3 p-2 rounded-xl text-xs xl:text-sm text-white text-center text-nowrap
}

.request--cart {
  @apply flex justify-between items-start border border-gray-200 p-4 rounded-2xl  hover:border-blue-600 hover:shadow-lg hover:shadow-blue-200 cursor-pointer
}

body {
  font-family: "Vazir";
}

.logo {
  font-family: "lalezar";
}