@import url("../public/fonts/font.css");

@import "tailwindcss";

.btn {
  @apply flex justify-center items-center p-2 rounded-xl text-sm md:text-base text-nowrap cursor-pointer;
}

.contain {
  @apply px-[120px];
}

.li--style {
  @apply border-blue-500 hover:border-b-2 hover:text-blue-500 text-xs md:text-lg xl:text-xl cursor-pointer;
}

.tag--style {
  @apply text-[16px] sm:text-[17px] md:text-[18px] lg:text-[20px];
}

.input--style {
  @apply block bg-gray-100 focus:bg-white focus:shadow-md p-3 rounded-xl focus:outline-none focus:ring-1 focus:ring-blue-500 w-full;
}

.input-file--style {
  @apply bg-gray-50 focus:bg-white p-2 rounded-xl focus:outline-none focus:ring-1 focus:ring-blue-500 w-full text-gray-700 text-sm cursor-pointer;
}

.input-file--style::file-selector-button {
  @apply bg-blue-500 hover:bg-blue-600 mx-2 px-4 py-2 border-0 rounded-lg text-white transition cursor-pointer;
}

.mark {
  @apply border-blue-500 border-t-2 border-b-2 rounded-tl-2xl rounded-br-2xl;
}

.btn--primary {
  @apply bg-blue-500 hover:bg-blue-600 p-2 text-white transition duration-200;
}

.link--style {
  @apply border-r-blue-600 hover:border-b text-blue-600 hover:text-blue-700 text-balance cursor-pointer;
}

.badge--style {
  @apply p-2 rounded-xl text-xs xl:text-sm text-center text-nowrap;
}

.request--cart {
  @apply flex justify-between items-start hover:shadow-blue-200 hover:shadow-lg p-4 border border-gray-200 hover:border-blue-600 rounded-2xl cursor-pointer;
}

.label--style {
  @apply font-medium text-gray-700 text-sm;
}

.btn--light {
  @apply hover:shadow px-4 py-3 border border-blue-100 hover:border-blue-500 rounded-lg w-full font-medium text-gray-700 transition duration-200 cursor-pointer;
}

body {
  font-family: "Vazir";
}

.logo {
  font-family: "lalezar";
  cursor: pointer;
}
